## This notebook is created for Applied Data Science Capstone Project Week 3 assignment question 1

In [1]:
# Import Modules
import pandas as pd
import numpy as np

### Read the data and show first 5 rows

In [2]:
toronto = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
toronto[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Create the dataframe

In [3]:
df_toronto= pd.DataFrame(toronto[0], columns = ['Postcode' , 'Borough', 'Neighbourhood'])
print (df_toronto.shape)
df_toronto.head()

(287, 3)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Clean up 'Not Assigned Boroughs' and use Shape to see the effect

In [4]:
df_toronto.drop(df_toronto.loc[df_toronto['Borough']=='Not assigned'].index, inplace=True)
df_toronto.shape

(210, 3)

### Rename Postcode column to PostalCode and reset index

In [6]:
df_toronto.rename(columns={"Postcode":'PostalCode'}, inplace=True)
df_toronto.rename(columns={"Neighbourhood":'Neighborhood'}, inplace=True)

### Reset the index

In [7]:
df_toronto=df_toronto.reset_index(drop=True)
df_toronto

    PostalCode           Borough              Neighborhood
0          M3A        North York                 Parkwoods
1          M4A        North York          Victoria Village
2          M5A  Downtown Toronto              Harbourfront
3          M6A        North York          Lawrence Heights
4          M6A        North York            Lawrence Manor
..         ...               ...                       ...
205        M8Z         Etobicoke  Kingsway Park South West
206        M8Z         Etobicoke                 Mimico NW
207        M8Z         Etobicoke        The Queensway West
208        M8Z         Etobicoke     Royal York South West
209        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

### Example of Neigborhoods that share the same Borough and PostCode

In [8]:
df_toronto[df_toronto.PostalCode == 'M6L']

   PostalCode     Borough Neighborhood
88        M6L  North York    Downsview
89        M6L  North York   North Park
90        M6L  North York  Upwood Park

### Merging Neigborhoods that share the same Borough and PostalCode

In [9]:
df_toronto = (df_toronto.groupby(['PostalCode', 'Borough'])['Neighborhood']
      .apply(lambda x: "{}".format(', '.join(x))).reset_index())

### Example of Neigborhoods that share the same Borough and PostCode after merging

In [10]:
df_toronto[df_toronto.PostalCode == 'M6L']

   PostalCode     Borough                        Neighborhood
79        M6L  North York  Downsview, North Park, Upwood Park

### Display the issue with unassigned neighborhoods

In [11]:
df_toronto[df_toronto.Neighborhood.str.contains('Not assigned')]

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned

### Replace unassigned Neigborhoods with the name of the Borough

In [12]:
df_toronto.loc[df_toronto.Neighborhood.str.contains('Not assigned'), 'Neighborhood'] = \
    df_toronto.loc[df_toronto.Neighborhood.str.contains('Not assigned'), 'Borough']

### Check if Borough == Neighborhood for Queen's Park

In [13]:
df_toronto[df_toronto.Borough=="Queen's Park"]

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

### Display the 10 first records of the dataframe

In [14]:
df_toronto.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

### Finaly the shape

In [15]:
df_toronto.shape

(103, 3)