## This notebook is created for Applied Data Science Capstone Project Week 3 assignment question 2

In [1]:
# Import Modules
import pandas as pd
import numpy as np

### Copy and summary of the notebook used for Question 1.  Scroll down for Question 2

In [2]:
# Load the data
toronto = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

# Create the dataframe
df_toronto= pd.DataFrame(toronto[0], columns = ['Postcode' , 'Borough', 'Neighbourhood'])

# Clean up 'Not Assigned Boroughs'
df_toronto.drop(df_toronto.loc[df_toronto['Borough']=='Not assigned'].index, inplace=True)

# Rename Postcode column to PostalCode and reset index
df_toronto.rename(columns={"Postcode":'PostalCode'}, inplace=True)
df_toronto.rename(columns={"Neighbourhood":'Neighborhood'}, inplace=True) 
df_toronto=df_toronto.reset_index(drop=True)

# Merging Neigborhoods that share the same Borough and PostalCode
df_toronto = (df_toronto.groupby(['PostalCode', 'Borough'])['Neighborhood']
      .apply(lambda x: "{}".format(', '.join(x))).reset_index())

# Display first 10 records
df_toronto.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [4]:
# Display the shape of the dataframe before starting answering Question 2
df_toronto.shape

(103, 3)

# Answering Question 2
## Add latitude and the longitude coordinates for each neighborhood

#### load the geo data

In [18]:
df_tor_lat_lon = pd.read_csv('Geospatial_Coordinates.csv')

#### Display the head

In [19]:
df_tor_lat_lon.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Display the shape

In [20]:
df_tor_lat_lon.shape

(103, 3)

#### Create 2 new columns Latitude and Longitude and use a For loop to fill the content

In [25]:
df_toronto.reset_index(drop=True, inplace=True)
df_toronto['Latitude'] = -99999.9
df_toronto['Longitude'] = -99999.9

for i in range(df_toronto.shape[0]):
    postalcode = df_toronto.loc[i, 'PostalCode']
    lat = df_tor_lat_lon.loc[df_tor_lat_lon['Postal Code'] == postalcode, 'Latitude'].squeeze()
    lng = df_tor_lat_lon.loc[df_tor_lat_lon['Postal Code'] == postalcode, 'Longitude'].squeeze()
    df_toronto.loc[i, 'Latitude'] = lat
    df_toronto.loc[i, 'Longitude'] = lng

#### And check if the Lat and Lon were added correctly

In [27]:
df_toronto

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054